# JHW 3
## Marily Barron
## Bio 184

### Problem 1
Write a function that converts a person’s name from a string to a last-name-first format.  For example, the function could read “Andalusia Basque Catalan” and then return “Catalan, Andalusia Basque”.  Test the function on your own name.

In [7]:
def name(full_name): #defining the function (name) with an imput full_name
    name_list = full_name.split(' ') #Splitting the full_name string into a list wherever there's a space
    first_name = full_name[:len(full_name)-len(name_list[-1])] #looking for the first name by subtracting the length of the last name to the length of full_name
    print(name_list[-1] + ', ' + first_name) #Printing in the desired format

In [9]:
name('Marily Barron') #Testing my name
name('Andalusia Basque Catalan') #Testing the example in the problem

Barron, Marily
Catalan, Andalusia Basque

### Problem 2

Write a function that takes two arguments – a protein sequence and a list of amino acid residue codes – and returns the percentage of the protein that the amino acids make.  If no list is given, the function should return the percentage (rounded to one decimal place) of hydrophobic amino acid residues (A, I, L, M, F, W, Y and V). Your function should pass the following assertions:
 * assert my_function("MSRSLLLRFLLFLLLLPPLP", ["M"]) == 5
 * assert my_function("MSRSLLLRFLLFLLLLPPLP", ['M', 'L']) == 55
 * assert my_function("MSRSLLLRFLLFLLLLPPLP", ['F', 'S', 'L']) == 70
 * assert my_function("MSRSLLLRFLLFLLLLPPLP") == 65

In [32]:
def my_function(protein,amino_acid = ['A','I','L','M','F','W','Y','V']): #Defining function (my_function) with two inputs. The amino_acid input has been assigned a list of all the hydrophobic amino residues by default
    summ = 0 #initializing what summ is to use it in the for loop
    for i in range(len(amino_acid)): #making a for loop where i goes from 0 to the # of elements in the amino_acid list
        summ = summ + protein.count(amino_acid[i]) #finding the sum of the targeted amino acids within the protein sequence
    percentage = round(summ * 100/len(protein),1) #found the percentage of targeted amino acids in the protein sequence and rounded it to 1 decimal place
    return(percentage) #using return function that way the assert function works

In [33]:
#Asserting that my_function is woring perfectly
assert my_function("MSRSLLLRFLLFLLLLPPLP", ["M"]) == 5
assert my_function("MSRSLLLRFLLFLLLLPPLP", ['M', 'L']) == 55
assert my_function("MSRSLLLRFLLFLLLLPPLP", ['F', 'S', 'L']) == 70
assert my_function("MSRSLLLRFLLFLLLLPPLP") == 65

### Problem 3
Write a function that takes in a DNA sequence (as a string) and then prints on separate lines
 * The first 6 nucleuotides
 * The length of the DNA
 * The GC content

In [44]:
def analysis_DNA(sequence):
    print('First 6 nucleotides: ' + sequence[0:6]) 
    print('Length of DNA: ' + str(len(sequence))) #Don't forget to convert into a string
    gc_content = (sequence.count('G') + sequence.count('C')) * 100/len(sequence)
    print('GC content: ' + str(gc_content))

In [45]:
analysis_DNA('ATGCGCTGCTAGCTGCAGTCTGCATGCGTGTGTACCACA') #Proof that the code works

First 6 nucleotides: ATGCGC
Length of DNA: 39
GC content: 56.41025641025641

### Problem 4
In the homework folder, you'll find a text file called data.csv, containing some made-up data for a number of genes. Each line contains the following fields for a single gene in this order: species name, sequence, gene name, expression level. The fields are separated by commas (hence the name of the file – csv stands for Comma Separated Values). Think of it as a representation of a table in a spreadsheet – each line is a row, and each field in a line is a column. All the exercises for this chapter use the data read from this file.

In [47]:
# to work with csv files import pandas library
import pandas as pd

In [48]:
#read_table can read csv files. We insert the file name w/ extension and separate information by finding the commas
data = pd.read_table('data.csv', sep = ',', header = None) #Add header = None to have a header of numbers instead of the fist row as also the header
#look at data table to see what I'm working with
data

,0,1,2,3
0,Drosophila melanogaster,atatatatatcgcgtatatatacgactatatgcattaattatagca...,kdy647,264
1,Drosophila melanogaster,actgtgacgtgtactgtacgactatcgatacgtagtactgatcgct...,jdg766,185
2,Drosophila simulans,atcgatcatgtcgatcgatgatgcatccgactatcgtcgatcgtga...,kdy533,485
3,Drosophila yakuba,cgcgcgctcgcgcatacggcctaatgcgcgcgctagcgatgc,hdt739,85
4,Drosophila ananassae,ttacgatcgatcgatcgatcgatcgtcgatcgtcgatgctacatcg...,hdu045,356
5,Drosophila ananassae,gcatcgatcgatcgcggcgcatcgatcgcgatcatcgatcatacgc...,teg436,222

In [49]:
#print the number of rows and columns
data.shape

(6, 4)

In [50]:
# Updating with proper column names. (specie names, sequence, gene name, expression level)
col_names = ['specie names', 'sequence', 'gene name', 'expression level']
data.columns = col_names
data.head() #Print out the first 5rows

,specie names,sequence,gene name,expression level
0,Drosophila melanogaster,atatatatatcgcgtatatatacgactatatgcattaattatagca...,kdy647,264
1,Drosophila melanogaster,actgtgacgtgtactgtacgactatcgatacgtagtactgatcgct...,jdg766,185
2,Drosophila simulans,atcgatcatgtcgatcgatgatgcatccgactatcgtcgatcgtga...,kdy533,485
3,Drosophila yakuba,cgcgcgctcgcgcatacggcctaatgcgcgcgctagcgatgc,hdt739,85
4,Drosophila ananassae,ttacgatcgatcgatcgatcgatcgtcgatcgtcgatgctacatcg...,hdu045,356

 * Print out the gene names for all genes belonging to Drosophila melanogaster or Drosophila simulans.

In [53]:
#store only data if the specie is Drosophila melanogaster or Drosophila simulans
temp = data[(data['specie names'] == 'Drosophila melanogaster') | (data['specie names'] == 'Drosophila simulans')] # | signifies or
    #temp is a dataset containin only the two species
#print gene names
print(temp['gene name'].values) #values gives you the elements inside an array

['kdy647' 'jdg766' 'kdy533']

 * Print out the gene names for all genes between 85 and 105 bases long.

In [55]:
#stores data into temp1 if the two conditions are satisfies
temp1 = data[(data['expression level'] >= 85) & (data['expression level'] <= 105)]
#Prints the gene name that satisfies the two conditions
print(temp1['gene name'].values)

['hdt739']

* Print out the gene names for all genes whose GC content is less than 0.5 and whose expression level is greater than 200.

In [64]:
genes_interested = [] #stores rhe names of genes
for i in range(len(data['sequence'])): #for loop where i is from 0 to the # of rows in data
    seq = data['sequence'].values[i] #getting the sequnce in the ith specie
    gc = (seq.count('g') + seq.count('c'))/ len(seq) #computing gc content
    expression = data['expression level'].values[i] #storing the expression level for the ith specie into a variable
    if (gc < .5) and (expression > 200): #looking for conditions to be satisfied
        genes_interested.append(data['gene name'].values[i]) #adding an element to the genes_interested list

In [65]:
print(genes_interested)

['kdy647', 'kdy533', 'hdu045']

* Print out the gene names for all genes whose name begins with "k" or "h" except those belonging to Drosophila melanogaster.

In [83]:
#stores data into temp2 if the specie name is not Drosophila melanogaster
temp2 = data[(data['specie names'] != 'Drosophila melanogaster')] #! is like saying not
#Adding a for loop to make a list of the gene names that start with an h or k
kh_genes = [] #initializing the list
for i in range(len(temp2['gene name'])):
    if (temp2['gene name'].values[i][0] == 'k') or (temp2['gene name'].values[i][0] == 'h'):
        kh_genes.append(temp2['gene name'].values[i]) #adding the gene names that satisfy either of the two conditions
#printing the genes
print(kh_genes)

['kdy533', 'hdt739', 'hdu045']

* For each gene, print out a message giving the gene name and saying whether its GC content is high (greater than 0.65), low (less than 0.45) or medium (between 0.45 and 0.65).

In [88]:
#using a for loop and nested else if loop to perform the task
for i in range(len(data['sequence'])):
    gc = (data['sequence'].values[i].count('g') + data['sequence'].values[i].count('c'))/ len(data['sequence'].values[i]) #computing gc content
    if (gc >= .65):
        print('GC content for ' + data['gene name'].values[i]+ ' is high')
    elif (gc <= .45):
        print('GC content for ' + data['gene name'].values[i]+ ' is low')
    else: 
        print('GC content for ' + data['gene name'].values[i]+ ' is medium')

GC content for kdy647 is low
GC content for jdg766 is low
GC content for kdy533 is medium
GC content for hdt739 is high
GC content for hdu045 is medium
GC content for teg436 is medium

### Problem 5
Create a silly example of a decision-making process and type up an if-then-else statement for that process.  Your example needs to include at least two Boolean statements.  (This code does not have to actually run; you may comment out this code block.)

In [3]:
skirt = False
dress = False
if skirt:
    print('I am not going to wear a skirt')
elif dress:
    print('I am not going to wear a dress')
else:
    print('I\'m fine with it')

I'm fine with it